@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Familjen+Grotesk:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme inline {
	--color-background: var(--background);
	--color-secondary: var(--secondary);
	--color-border: var(--border);
	--color-card: var(--card);
	--color-highlight: var(--highlight);
	--font-sans: "Inter", sans-serif;
	--font-grotesk: "Familjen Grotesk", sans-serif;
}

:root {
	--background: #212121;
	--secondary: #F9F8F0;
	--border: #202020;
	--card: #242424;
	--highlight: #F3BC34;
}

.light {
	--background: #F9F8F0;
	--secondary: #212121;
	--border: #E0E0E0;
	--card: #FFFFFF;
	--highlight: #F3BC34;
}

.sidebar-scroll::-webkit-scrollbar {
	width: 3px;
}

.sidebar-scroll::-webkit-scrollbar-track {
	background: transparent;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
	background: var(--background);
	border-radius: 99px;
	opacity: 0.3;
}